# Core
github "ReactiveX/RxSwift" ~> 5.0
github "Alamofire/Alamofire" "4.8.2"
github "Alamofire/AlamofireImage" "3.5.2"
github "roberthein/TinyConstraints"
github "cesarferreira/SwiftEventBus" "5.0.0"



# こっから下TODO
# Http
github "ashleymills/Reachability.swift" "v4.3.1"

# GraphQL
github "apollographql/apollo-ios" "0.10.1"

# AWS
github "aws/aws-sdk-ios" "2.9.9"

# Facebook
github "facebook/facebook-ios-sdk"

# Google
github "https://github.com/fabio914/GoogleSignIn-iOS" "4.2.0"

# Pusher
github "pusher/push-notifications-swift"
