github "Alamofire/Alamofire" "4.8.2"
github "Alamofire/AlamofireImage" "3.5.2"

github "apollographql/apollo-ios" "0.10.1"
github "stephencelis/SQLite.swift" "0.11.6"

github "cesarferreira/SwiftEventBus" "5.0.0"
github "hyperoslo/Compass" "6.0.0"

github "roberthein/TinyConstraints" "4.0.1"
